* {
    padding-top: 5px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

#box1 {
    display: inline-block;
    font-size: large;
    padding-left: 350px;
}

#box2 {
    display: inline-block;
    font-size: large;
}

#box3 {
    display: inline-block;
    font-size: large;
}

#search {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: large;
}

button {
    background-color: rgb(255, 254, 254);
    color: black;
    display: inline;
}

div {
    color: aliceblue;
    margin-right: 50px;
    text-align: center;
}

#intro {
    padding-left: 30px;
    margin-top: 10px;
    font-size: 50px;
    height: 250px;
    width: 560px;
    text-align: left;
    display: inline-block;
}

#tiet {
    height: 250px;
    width: 560px;
    display: inline-block;
    background-image: url(image.png);
    animation: fadeIn 5s;
    background-size: cover;
    color: black;
    text-align: center;
}

#basic {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    margin-left: 500px;
    width: 670px;
    transition: width 2s height 4s;
}

#more {
    padding-top: 10px;
    margin-left: 332px;
}

#plans {
    padding-top: 10px;
}


.boxes-container {
    display: flex;
    text-align: center;
    width: 1100px;
    height: 300px;
    padding-left: 3cm;
}

#box4, #box5 {
    
    border: 10px solid antiquewhite;
    margin-left: 3cm;
    background-size: cover;
    color: white;
    font-weight: bold;
}

#box4 {
    background-color: blue;
    background-image: url(gear.jpg);
}

#box5 {
    background-color: rgb(232, 151, 0);
    background-image: url(nongear.webp);
}


#box6,
#box7,
#box8 {
    font-size: xx-small;
    margin-right: 0px;
    
    padding-left: 20px;
   
   
}
.horizontal-boxes {
    display: flex;
    flex-direction: row; 
    width: 30cm;
    height: 30cm;


}
#happy{ 
background-color: blueviolet;
    width: 10cm;
    height:10cm;
    color: aquamarine;

}